



<!-- tuner.component.html
<mat-card class="tuner-card">
  <mat-card-header>
    <mat-card-title>Afinador de Guitarra</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="frequency-display">
      <h3>Frecuencia detectada:</h3>
      <p>{{ frequency }} Hz</p>
    </div>

    <div class="note-display">
      <h3>Nota detectada:</h3>
      <p>{{ note }}</p>
    </div>

    <div class="tuning-status">
      <h3>Estado de afinación:</h3>
      <p [ngClass]="{ 'tuned': isTuned, 'not-tuned': !isTuned }">
        {{ isTuned ? 'Afinada' : 'Desafinada' }}
      </p>
    </div>
  </mat-card-content>
</mat-card>


<div class="row">
  <div class="col-6" style="background-color: brown;">
    hola si
  </div>
  <div class="col-6" style="background-color: rgb(3, 0, 0);">
    hola
  </div>
</div>
-->
